* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /*default content box*/
}

body {
    border: solid 5px #ffcf6d;
    margin: 0; /*will remove margin in my body if I set it to 0*/
    height: 100vh; /* I want to set my body to 100 of my viewport height* HAVE THE BORDER TAKE THE ENTIRE PAGE. THATS GOOD!*/
}

h1 {
    border-right: #be7800 solid 1em;
    padding: 0.5em 1em 0.5em 0;
    background-color: hsl(202deg 30% 29%);
    color: white;
    text-align: right;
    width: 95%; /*I want it 95% than my current container*/
    margin: 20px auto; /*When you have two values the first one is for top and bottom and the second one is for right and left*/ /*AUTO means take whatever space I have and use it equally*/

}


/*MARGIN COLLAPSE*/
section {
    padding: 1em;
    border-left: solid #10px #16195e; 
    border-radius: 10px 0 0 10px; /*makes the border round*/
    background: rgb(172,195, 216);
    margin: 1em 2em;
}

/*if you want to style your paragraph inside the section*/

section p {
    color: #213d67;
    padding: 1em;
    display: block;
}

/*Pseudo-class*/ /*Whenever you hover over it I want to change some the background and the color*/
#section1:hover {
    background: #f0f099;
    color: brown;
}

.new-content:before { /*it means I am going to inject something before the element*/
    display:block;
    padding: 0.25em 1em;
    background: rgb(255, 255, 170);
    color: black;
    border-radius: 10px;
    content: "New Content - Please review";
}

footer > a { /* a means it has an anchor*/
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3em;
    text-decoration: none;
    background: rgb(51, 79, 95);
    color: hsl(60, 62%, 85%);
    padding: 1em;
    width: 100%;
}

a:link,
a:visited,
a:focus {
    color: #efefef;
}

footer > a:hover {
    background: #be7800;
}

/*Animate*/
footer > a:hover {
animation: shake 2s;
animation-iteration-count: 2;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px);
    }

    50% {
        transform: translate(-1px, -1px) rotate(12deg);/*usually put it 0.2deg*/
    }

    100% {
        transform: translate(1px, 1px)  rotate(-12deg);
    }
}

.wallpaper {
    background-image: url('Deliney\ cutie.png');
    width: 100vw;
    height: 100vh;

    position: absolute;
    top:0;
    left:0;

    z-index: -100;/*it means it is behind everything*/

    background-size: cover; /*it will stretch*/
    filter: grayscale(1);
    opacity: 0.25;
}
