* {
    text-align: center;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;

    /*change your display from block into grid*/
    display:grid;
    grid-template-rows: auto 1fr auto; /* I am setting these children to auto 1fr and auto. the 1fr will take the most place*/
    /* I am saying I have three children my header, content and footer row"*/
    grid-template-areas:
    "head"
    "content"
    "footer";
}

header {
    background: rgb(184, 0, 0);
    grid-area: head; /*this grid area is named headthat's what this declaration means. It takes the name from the template above!! It needs to match*/
}

footer {
    background: rgb(0 , 0, 148);
    grid-area: footer; /*according to the template it is called content. If I change the order in the template in the body, it will change the order of the things too*/
}

main {
    background: rgb(255, 255, 255);
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1 fr; /*DEclaring a new template. and the children are section1 and section2 and we are making a column grid.*/
    grid-template-areas: "section1 section2";

}

section2 {
    color: black;
}

section:first-child{
    background-color: hsl(60, 100%, 84%);

}

section:last-child{
    background-color: hsl(209, 100%, 77%);
}


#section1 {
    background-color: hsl(60, 100%, 84%);
    grid-area: section2; /* named it section1 so it knows it is the child of main*/
}

#section2 {
    background-color: hsl(209, 100%, 77%);
    grid-area: section2;
}

@media (orientation: portrait){
    main {
        grid-template-columns: 1fr;
        grid-template-areas: "section1" "section2";

    }
}

@media (max-height: 700x) {
    header {
        display:none;
    }

    footer {
        display: none;
    }
}



